/* Introdução Interna */

.interna-contato{
    background-image: url(../img/bg-contato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Orçamento - Formulario */

.contato {    
    padding: 40px 0 ;
}

.contato h2 {
    color: #FEC63E;
}

.contato h2::after{
    background-color: #FEC63E;
}

.contato-form {
    padding-right: 60px;
}

.contato-form label {
    display: block;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contato-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 10px;
    border: #FEC63E 4px solid;
    background: none;
    font-size: 14px;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contato-form textarea {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: #FEC63E 4px solid;
    background: none;
   
    font-size: 14px;
    outline: none;
}

.contato-form button {
    background: none;
    padding: 7px 40px;
    cursor: pointer;
}

.contato-form button:hover {
    border-color: #000;
    color: #000;
}


.contato-dados h3 {
    font-size: 18px;
    line-height: 25px;
    color: #FEC63E;
    text-transform: uppercase;
    font-weight: bold;
}

.contato-dados span {
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contato-dados span:nth-of-type(even) {
    margin-bottom: 40px;
}

.contato-dados ul{
    padding-right: 100px;
}

.contato-dados p {
    margin: 10px 0;
}

.contato-social ul li{
 margin-top: 20px;
}

.contato-social ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px ;
    margin-right: 15px;
}

.contato-social ul li a{
    border: 3px solid #FEC63E;
    display: inline-block;
    padding: 8px;
}

.contato-social ul li a:hover{
    border: 3px solid rgb(255, 255, 255);
}

/* Mapa */

.contato-mapa {
    padding: 40px 0 60px 0;
}