/* Introdução Interna */

.interna-sobre{
    background-image: url(../img/bg-sobre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.missao-sobre{
    padding-top: 60px;
}

.missao-sobre p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    padding-right: 60px;
    text-align: justify;
}

.missao-sobre ul li{
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: initial;
}

.foto-equipe{
    padding-top: 20px;
}